/target
main.html
*.pub
*.pdf
veileder-apne-data/Hva-er-aapne-data.adoc
veileder-apne-data/1-hva-er-aapne-data.adoc
veileder-apne-data/4-videre.adoc
veileder-apne-data/3-hvordan.adoc
veileder-apne-data/2-lisensiering.adoc
veileder-apne-data/1-2-EU.adoc
veileder-apne-data/1-1-gjeldende-lovverk.adoc
veileder-apne-data/1-1-gjeldende lovverk.adoc
